  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link" href="#">Members Info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Group Facilitators</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Log Out</a>
    </li>
    <li class="nav-item">
     <%= link_to 'Home', root_path, class:"nav-link" %>    
    </li>
     <li class="nav-item">
      <img class="nav-link" src="#"
      style="height:75; width:100">
    </li>   
  </ul>

