{% extends 'base.html' %}
{% load static %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="container">
  <h3>Roster: </h3>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">All members</th>
        </tr>
      </thead>
      <tbody>
        {% for member in groupmembers %}
        <tr>
          <th scope="row">
            {{member}}
          </th>
        </tr>
        {% endfor%}
      </tbody>
    </table>
</div>
{% endblock %}