<h1>All Admin Stuff</h1>
      <%= link_to 'sign in', new_account_session_path %> | 
      <%= link_to 'sign up', new_account_registration_path %> | 
      <%= link_to 'logout', destroy_account_session_path, method: :delete %> 
