<body>

<main class="container-fluid p-3">
<% if account_signed_in? %>
<div class="container-fluid p-3">
<h3>Load CSV</h3>
  <%= form_tag home_import_path, class: "form-group", multipart:true do%>
    <%= file_field_tag :file, class:"form-control-file" %>
    <br>
    <%= submit_tag "Import CSV", class:"btn btn-primary"%>
  </div>
  <% end %>

<% else %>
  <p> Welcome to Meetups  </p>

<% end %>
  </main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>